!!! 5
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title Artikel Archiv

  link(rel='stylesheet', href='/assets/css/bootstrap/bootstrap.css')
  link(rel='stylesheet', href='/assets/css/style.css')

  script(data-main='app/index', src='/assets/js/libs/require.js')
  script(src='/app/config.js')
body
  .navbar.navbar-fixed
    .navbar-inner
      .container
        a.brand(href='/') Artikel Archiv
        ul.nav
          li.active
            a(href='/') Tagesanzeiger
          li
            a(href='about') About
          li
            a(href='contact') Contact
      //
        form.form-search.navbar-form.pull-right(action='')
          input.input-small(type='text', placeholder='Username')
          input.input-small(type='password', placeholder='Password')
          button.btn(type='submit') Sign in
  .fluid-container.sidebar-left
    #sidebar.fluid-sidebar
      .well
        ul#categories.nav.list
          li.nav-header Sparten
    #viewer.fluid-content
      h1#viewer-title Article Title
      .row
        #viewer-summary.span4
        img#viewer-image.span12
      .row#viewer-content
    footer
      p &copy; Adrian Kuendig 2011
